<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login/css/style.css}"/>
    <script type="text/javascript" th:src="@{/assets/layui/layui.js}"></script>
    <title>sso</title>
    <script src="../../src/static/ajq/jquery-1.12.min.js"></script>
</head>
<body>
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">登录名</label>
        <div class="layui-input-block">
            <input type="text" name="userName" id="userName" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input type="text" name="password" id="password" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">

        <button type="button" onclick="login()" class="layui-btn layui-btn-sm layui-btn-normal">登录
        </button>
        <button type="button" onclick="testButton()" class="layui-btn layui-btn-sm layui-btn-normal">
            测试请求
        </button>
        <button type="button" onclick="testButton2()" class="layui-btn layui-btn-sm layui-btn-normal">
            测试跨域请求
        </button>
        <button type="button" onclick="xhr()" class="layui-btn layui-btn-sm layui-btn-normal">xhr1
        </button>
        <button type="button" onclick="xhr2()" class="layui-btn layui-btn-sm layui-btn-normal">xhr2
        </button>
    </div>

</form>
<script src="../../src/static/tool.js"></script>
<script>

    function login() {
        var data = "userName=";
        userName = $('#userName').val();
        password = $('#password').val();
        data = data + userName + "&password=" + password;
        var xmlhttp;
        if (window.XMLHttpRequest) {
            //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
            xmlhttp = new XMLHttpRequest();
        } else {
            // IE6, IE5 浏览器执行代码
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.open('POST', 'http://127.0.0.1:8081/login');

        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                window.localStorage.token = JSON.parse(xmlhttp.responseText).token
            }
        }
        xmlhttp.send(data);
    }

    function testButton() {
        get_request('rest/getTime',null);

    }

    function testButton2() {
        var data={'msg':'sdsd'}
        get_request('rest/getTime2',data);
    }

    function setHearder(xhr) {
        xhr.setRequestHeader("authorization", window.localStorage.token);
    }

    function getCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
        if (arr = document.cookie.match(reg)) {
            return unescape(arr[2]);
        } else {
            return null;
        }
    }

    function xhr() {
        var xmlhttp;
        if (window.XMLHttpRequest) {
            //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
            xmlhttp = new XMLHttpRequest();
        } else {
            // IE6, IE5 浏览器执行代码
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.open('get', 'time/getTime');
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                console.log(xmlhttp.responseText);
            }
        }
        xmlhttp.send();
    }

    function xhr2() {
        var xmlhttp;
        if (window.XMLHttpRequest) {
            //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
            xmlhttp = new XMLHttpRequest();
        } else {
            // IE6, IE5 浏览器执行代码
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.open('POST', 'http://127.0.0.1:8081/rest/getTime2');

        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                console.log(xmlhttp.responseText);
            }
        }

        xmlhttp.send('msg=大萨达打');
    }
</script>
</body>
</html>